<div class="cabecera-centrada">
  <div class="cabecera">
    <img class="uceva" src="../../assets/images/img.png" alt="uceva"/>
    <img src="../../assets/images/Line 14.png" alt="linea"/>
    <img class="programa" src="../../assets/images/programa.jpeg" alt="Cabecera de la página"/>
  <div>
      <button class="my-button" onclick="location.href='http://localhost:4200/programas/crear'">Crear</button>
      <button class="my-button" onclick="location.href='http://localhost:4200/programas'">Listar</button>
    </div>
  </div>
</div>

